
Tests/V2/UnitTests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_UnitTests
Tests/V2/UnitTests/bin/Debug/net8.0/CargoHubC\#.dll
Tests/V2/UnitTests/bin/Debug/net8.0/CargoHubC\#.exe
Tests/V2/UnitTests/bin/Debug/net8.0/CargoHubC\#.pdb
Tests/V2/UnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_UnitTests
Tests/V2/UnitTests/bin/Debug/net8.0/UnitTests.dll
Tests/V2/UnitTests/bin/Debug/net8.0/UnitTests.pdb
Tests/V2/UnitTests/obj/Debug/net8.0/ref/UnitTests.dll
Tests/V2/UnitTests/obj/Debug/net8.0/refint/UnitTests.dll
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfo.cs
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfoInputs.cache
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.assets.cache
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.csproj.AssemblyReference.cache
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.csproj.CoreCompileInputs.cache
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.csproj.FileListAbsolute.txt
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.dll
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.genruntimeconfig.cache
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.pdb
Tests/V2/UnitTests/obj/Debug/net8.0/UnitTests.sourcelink.json
Tests/V2/UnitTests/obj/project.assets.json
Tests/V2/UnitTests/obj/project.nuget.cache
Tests/V2/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
Tests/V2/UnitTests/obj/UnitTests.csproj.nuget.g.props
